<mat-toolbar color="primary" class="mat-elevation-z6 main-toolbar">
  Dynamic forms
</mat-toolbar>

<div class="container mb-3">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Dynamic form">

      <h1 class="my-3">Dynamic form</h1>
      <ff-dynamic-form #form [config]="formConfig" [patcher$]="patcher$" (submit)="submit($event)"
                       [submit$]="submit$"></ff-dynamic-form>

      <div class="mb-3">
        <button [disabled]="form.invalid$ | async" mat-raised-button color="primary" (click)="submit$.next()">Submit
        </button>
        <button mat-raised-button class="ml-2" (click)="patchForm()">patch</button>
      </div>
    </mat-tab>
    <mat-tab label="List and combobox">

      <h1 class="my-3">List and combobox, value: {{testControl.value}}</h1>

      validated multi value
      <ff-combobox label="Label value items" [helperClass]="ValidatedMultiValueHelper" [control]="multiValuedControl" [items$]="standardItems$"></ff-combobox>

      non validated multi value
      <ff-combobox label="Label value items" [multi]="true" [validate]="false" [control]="multiValuedControl"></ff-combobox>

      validated single value
      <ff-combobox label="Label value items" [items$]="standardItems$" [control]="testControl"></ff-combobox>

      non validated single value
      <ff-combobox label="Label value items" [validate]="false" [items$]="standardItems$" [control]="testControl"></ff-combobox>
      <button mat-raised-button color="primary" (click)="echo()">Log value</button>


    </mat-tab>
  </mat-tab-group>
</div>
